#options_container {

}

.option {
  width: 20em;
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
  vertical-align: center;
  background: #ffa4a2;
  border-radius: 25px;
}

.option_picked {
  background: #98fb98;
}

.option > label {
  font-size: 2em;
  font-family: "sans";
}

#result {
  font-size: 1.5em;
}

#prefSubmit {
  font-size: : 1.5em;
  padding: 1em;
  margin: 1em;
  margin-left: 1.5em;
}

#map {
  width: 50vh;
  height: 50vh;
}
